<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Thunderstrike</title>

    <% if(env === 'production') { %>
    <link type="text/css" rel="stylesheet" href="/assets/main.bundle.css">
    <% } %>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<div id="app">
    hello
</div>

<% if(env === 'development') { %>
<!--<script src="http://localhost:8080/webpack-dev-server.js"></script>-->
<!--<script src="http://localhost:8080/assets/main.bundle.js"></script>-->
<script src="/dev/main.bundle.js"></script>
<% } else { %>
<script src="/assets/main.bundle.js"></script>
<% } %>

</body>
</html>